[Unit]
Description=Conteneur vLLM Qwen - Environnement ${ENV_NAME}
After=network-online.target

[Container]
Image=docker.io/vllm/vllm-openai:v0.18.0-cu130
ContainerName=vllm_qwen-${ENV_NAME}
Network=vllm-qwen-${ENV_NAME}.network

# Assignation du GPU NVIDIA
PodmanArgs=--gpus=all

# Variables d'environnement
Environment=VLLM_API_KEY_FILE=/run/secrets/vllm_api_key

# Volumes
Volume=${HF_CACHE_DIR}:/root/.cache/huggingface:rw
Volume=${RUNTIME_DIR}/vllm_api_key.txt:/run/secrets/vllm_api_key:ro

# La commande de lancement ("enable_thinking" important pour le focntionnement de génération de titre et tags de conversation dans openwebui)
Exec=${MODEL_NAME} --language-model-only --reasoning-parser qwen3 --default-chat-template-kwargs '{"enable_thinking": false}' --gpu-memory-utilization ${GPU_MEMORY_UTILIZATION} --max-model-len ${MAX_MODEL_LEN} --kv-cache-dtype fp8


# Configuration du Healthcheck
HealthCmd=curl -fsS http://127.0.0.1:8000/v1/models >/dev/null
HealthInterval=15s
HealthRetries=20
HealthTimeout=10s
HealthStartPeriod=4m

[Service]
ExecStartPre=/bin/sh -c 'for i in $(seq 1 60); do [ -e /dev/nvidiactl ] && [ -e /usr/lib64/libcuda.so.1 ] && exit 0; sleep 2; done; exit 1'
Restart=always
RestartSec=10
TimeoutStartSec=3600

[Install]
WantedBy=default.target
